function Level.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 4
pop this 1
push constant 240
pop this 2
push constant 12
pop this 4
push this 4
call Array.new 1
pop this 3
push constant 0
push this 3
add
push constant 280
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 460
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push constant 476
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 3
add
push constant 492
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 3
add
push constant 760
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 3
add
push constant 900
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 3
add
push constant 916
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 3
add
push constant 932
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 3
add
push constant 1300
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 3
add
push constant 1316
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 3
add
push constant 1332
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 3
add
push constant 1450
push this 2
push constant 20
sub
push constant 16
push constant 20
call Spike.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 6
push this 6
call Array.new 1
pop this 5
push constant 0
push this 5
add
push constant 600
push this 2
push constant 60
sub
push constant 60
push constant 16
call Block.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 5
add
push constant 1050
push this 2
push constant 60
sub
push constant 60
push constant 16
call Block.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 8
push this 8
call Array.new 1
pop this 7
push constant 0
push this 7
add
push constant 400
push this 2
push constant 10
sub
push constant 26
push constant 10
call JumpPad.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 7
add
push constant 1220
push this 2
push constant 10
sub
push constant 26
push constant 10
call JumpPad.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1600
push constant 0
push constant 30
push this 2
call Finish.new 4
pop this 9
push pointer 0
return
function Level.update 0
push argument 0
pop pointer 0
push this 0
push this 1
add
pop this 0
push constant 0
return
function Level.draw 4
push argument 0
pop pointer 0
push constant 0
push this 2
push constant 511
push constant 4
call Texture.drawSolid 4
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
not
if-goto WHILE_END0
push local 0
push this 3
add
pop pointer 1
push that 0
pop local 1
push local 1
push this 0
call Spike.draw 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 6
lt
not
if-goto WHILE_END1
push local 0
push this 5
add
pop pointer 1
push that 0
pop local 2
push local 2
push this 0
call Block.draw 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push this 8
lt
not
if-goto WHILE_END2
push local 0
push this 7
add
pop pointer 1
push that 0
pop local 3
push local 3
push this 0
call JumpPad.draw 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push this 9
push this 0
call Finish.draw 2
pop temp 0
push constant 0
return
function Level.checkWin 0
push argument 0
pop pointer 0
push this 9
push argument 1
push this 0
call Finish.collides 3
return
function Level.checkCollisions 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
push local 4
not
and
not
if-goto WHILE_END0
push local 0
push this 3
add
pop pointer 1
push that 0
pop local 1
push local 1
push argument 1
push this 0
call Spike.collides 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 4
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 6
lt
push local 4
not
and
not
if-goto WHILE_END1
push local 0
push this 5
add
pop pointer 1
push that 0
pop local 2
push local 2
push argument 1
push this 0
call Block.collides 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push argument 1
call Block.isLandingOn 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push local 2
call Block.getTop 1
call Player.landOnBlock 2
pop temp 0
goto IF_END2
label IF_FALSE2
push constant 0
not
pop local 4
label IF_END2
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push this 8
lt
not
if-goto WHILE_END2
push local 0
push this 7
add
pop pointer 1
push that 0
pop local 3
push local 3
push argument 1
push this 0
call JumpPad.trigger 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
call Player.boostJump 1
pop temp 0
label IF_FALSE3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push local 4
return
function Level.dispose 4
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
not
if-goto WHILE_END0
push local 0
push this 3
add
pop pointer 1
push that 0
pop local 1
push local 1
call Spike.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 3
call Array.dispose 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 6
lt
not
if-goto WHILE_END1
push local 0
push this 5
add
pop pointer 1
push that 0
pop local 2
push local 2
call Block.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push this 6
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
call Array.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push this 8
lt
not
if-goto WHILE_END2
push local 0
push this 7
add
pop pointer 1
push that 0
pop local 3
push local 3
call JumpPad.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push this 8
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 7
call Array.dispose 1
pop temp 0
label IF_FALSE1
push this 9
call Finish.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
